*{

    margin: 0;
    padding: 0;

}

h1, h2, h3, h4, h5, h6, p, ul{

    margin: 0;
    padding: 0;

}

/* Preheader Section */

.preheadicon{


}

.preheadicon ul{

list-style: none;

display: flex;

justify-content: end;

align-items: center;
}

.preheadicon ul li{


}

.preheadicon ul li a{

font-size: 20px;

margin-left: 5px;
}

.preheadicon ul li a i{


}

.preheader{


}
.preheadcol{

display: flex;
}

.preheadrow{

justify-content: space-between;

padding: 5px 0px;
}

.phone{

display: flex;

align-items: center;
}

.phone i{

font-size: 20px;
}

.phone p{

margin-left: 5px;
}


.email{

display: flex;

align-items: center;

padding-left: 20px;
}

.email i{

font-size: 20px;
}

.email p{

margin-left: 5px;
}


/* ---------------------- */

/* header section */

.header{

background: #003061;
}

.headerrow{


}

.navbar{


}

.navbar-brand{

margin: 0;
}

.navbar-brand img{

width: 100%;
}

.navbar-toggler{


}

.offcanvas{


}

/* background: rgb(8,221,131);
background: linear-gradient(90deg, rgba(8,221,131,1) 0%, rgba(32,146,252,1) 100%); */

.navbar-nav{

    align-items: center;
}

.nav-item{

padding-left: 20px;
}

.nav-item a{

color: white;

margin: 0;

padding: 0 !important;

font-weight: 500;
}

.gradientbutton{
    background: linear-gradient(90deg, rgba(8,221,131,1) 0%, rgba(32,146,252,1) 100%);
    border-radius: 2px;
}

.gradientbutton a{

padding: 4px 17px !important;
}

/* -------------------------- */

/* banner section */

.banner{

    background-image: url(../assets/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

}

.bannerrow{


}

.bannercol{


}

.bannertext{

margin-top: 50px;
}

.bannertext h2{

color: white;

text-transform: uppercase;

font-size: 50px;

margin-bottom: 15px;
}

.bannertext p{

color: white;

margin-bottom: 15px;

font-size: 25px;
}

.schedule2{
    display: inline-block;
}

.schedule2 a p{

font-weight: 600;

color: white;
}

.schedule2 a{

    
}


/* ---------------------- */


/* Pacakge section */

.package{

position: relative;

min-height: 800px;

margin-bottom: 40px;
}

.pricing{



}

.packagewrap{

display: flex;

justify-content: center;

position: absolute;

left: 50%;

transform: translateX(-50%);

top: -98px;
}

.packcol{

margin: 0 9px;
}


.essentials{

border-radius: 2px;

border: 1px solid #d1d1d1;
}

.title{

background: #08dd83;

padding: 5px;
}

.title h4{

font-size: 20px;

text-align: center;

color: white;
}

.body{

text-align: center;

background: white;
}

.firt_part{
}

.firt_part p{

padding: 10px 0;

color: gray;
}

.firt_part h2{

font-size: 45px;

font-weight: bold;

padding: 0;

display: flex;

justify-content: center;

margin-top: 1px;

color: #023f7d;
}

.firt_part h2 sup{

font-size: 25px;

top: 0;

margin-top: 13px;
}


.firt_part h2 p{

font-size: 16px;

margin-top: 25px;

padding: 0;

color: #023f7d;

font-weight: 700;
}

.features{

margin: 10px 0;
}

.feature_on{

display: flex;

align-items: center;

justify-content: center;
}

.feature_on i{

color: green;

font-size: 13px;

margin-top: 4px;
}

.feature_on p{

margin-left: 10px;

font-weight: bold;
}

.feature_off{

display: flex;

justify-content: center;

align-items: center;
}

.feature_off i{

font-size: 13px;

color: gray;
}

.feature_off p{

font-weight: bold;

margin-left: 10px;

color: gray;
}

.moreinfo{

margin-bottom: 15px;
}

.moreinfo a{

color: #436491;

font-weight: 600;
}

.ordernow1{

width: 150px;

margin: auto;

margin-bottom: 25px;
}

.ordernow1 a{

color: white;

font-weight: bold;

border: none;
}

.title2{

background: #15b4c5;
}

.title3{
    background: #2092fc;
}

.textcontentrow{
}

.neque_porro{


}

.neque_title{

margin-bottom: 20px;
}

.neque_title h2{

font-size: 40px;
}

.neque_body{


}

.lines{

display: flex;

margin-bottom: 10px;
}

.lines i{

margin-top: 8px;

color: green;
}

.lines p{

padding-left: 10px;
}

.learnmore{

width: 140px;

margin-top: 20px;

border-radius: 2px;
}

.learnmore a{

font-weight: bold;

color: white;
}

.neque_poro_photo{


}

.nequephoto{

margin-top: 19px;

margin-left: 15px;
}

.nequephoto img{

width: 100%;
}

.textcontent_wrap{

position: absolute;

display: flex;

top: 50%;

justify-content: center;

left: 10%;

transform: translateX(-10%);
}

/* review section */

.review{

border-top: 2px solid #a0a0a0;
}

.review_row{

margin-top: 50px;

justify-content: center;
}

.review_col{


}

.review_item{

display: flex;
}

.bio{


}

.bio_photo{width: 100px;}

.bio_photo img{

width: 100%;
}

.bio p{

color: #a0a0a0;
}

.bio h5{

font-weight: 700;
}

.review_text{

margin-left: 20px;
}

.review_text p{

    
}

/* -------------- */

/* blue-bg section */

.blue_bg{

position: relative;

min-height: 550px;

width: 100%;

background: #003061;
}

.blue_bg_wrap{

position: absolute;

display: flex;

top: 10%;

justify-content: center;

left: 10%;

transform: translateX(-10%);


}

.neque_title2 h2{

color: white;
}

.lines2 p{

color: white;
}

.nequephoto2{

margin: 0;

margin-top: 12px;
}

.neque_poro_photo2{

    margin-right: 20px;
}

/* ------------------- */

/* contact section */

.contact{

position: relative;

min-height: 650px;
}

.maps-row{


}

.form-col{


}

.form_wrap{

margin-top: 50px;
}

.form_wrap p{


}

.form_wrap h3{


}

.form{


}

.name{

margin: 3px 0;

width: 50%;

padding-left: 5px;
}

.Company{

width: 49%;

margin: 5px 0;

padding-left: 5px;
}

.number{

width: 49%;

margin: 5px 0;

padding-left: 5px;
}

.Message{

width: 100%;

margin: 5px 0;

padding-left: 5px;

height: 150px;
}

.submit{

width: 100px;

border-radius: 2px;
}

.submit a{

    color: white;
    font-weight: 500;
}

.emails{

    width: 50%;

    margin: 5px 0;
    
    padding-left: 5px;

}

.map-col{
    *{

        margin: 0;
        padding: 0;
    
    }
    
    h1, h2, h3, h4, h5, h6, p, ul{
    
        margin: 0;
        padding: 0;
    
    }
    
    /* Preheader Section */
    
    .preheadicon{
    
    
    }
    
    .preheadicon ul{
    
    list-style: none;
    
    display: flex;
    
    justify-content: end;
    
    align-items: center;
    }
    
    .preheadicon ul li{
    
    
    }
    
    .preheadicon ul li a{
    
    font-size: 20px;
    
    margin-left: 5px;
    }
    
    .preheadicon ul li a i{
    
    
    }
    
    .preheader{
    
    
    }
    .preheadcol{
    
    display: flex;
    }
    
    .preheadrow{
    
    justify-content: space-between;
    
    padding: 5px 0px;
    }
    
    .phone{
    
    display: flex;
    
    align-items: center;
    }
    
    .phone i{
    
    font-size: 20px;
    }
    
    .phone p{
    
    margin-left: 5px;
    }
    
    
    .email{
    
    display: flex;
    
    align-items: center;
    
    padding-left: 20px;
    }
    
    .email i{
    
    font-size: 20px;
    }
    
    .email p{
    
    margin-left: 5px;
    }
    
    
    /* ---------------------- */
    
    /* header section */
    
    .header{
    
    background: #003061;
    }
    
    .headerrow{
    
    
    }
    
    .navbar{
    
    
    }
    
    .navbar-brand{
    
    margin: 0;
    }
    
    .navbar-brand img{
    
    width: 100%;
    }
    
    .navbar-toggler{
    
    
    }
    
    .offcanvas{
    
    
    }
    
    /* background: rgb(8,221,131);
    background: linear-gradient(90deg, rgba(8,221,131,1) 0%, rgba(32,146,252,1) 100%); */
    
    .navbar-nav{
    
        align-items: center;
    }
    
    .nav-item{
    
    padding-left: 20px;
    }
    
    .nav-item a{
    
    color: white;
    
    margin: 0;
    
    padding: 0 !important;
    
    font-weight: 500;
    }
    
    .gradientbutton{
        background: linear-gradient(90deg, rgba(8,221,131,1) 0%, rgba(32,146,252,1) 100%);
        border-radius: 5px;
    }
    
    .gradientbutton a{
    
    padding: 4px 17px !important;
    }
    
    /* -------------------------- */
    
    /* banner section */
    
    .banner{
    
        background-image: url(../assets/banner.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
    
    }
    
    .bannerrow{
    
    
    }
    
    .bannercol{
    
    
    }
    
    .bannertext{
    
    margin-top: 50px;
    }
    
    .bannertext h2{
    
    color: white;
    
    text-transform: uppercase;
    
    font-size: 50px;
    
    margin-bottom: 15px;
    }
    
    .bannertext p{
    
    color: white;
    
    margin-bottom: 15px;
    
    font-size: 25px;
    }
    
    .schedule2{
        display: inline-block;
    }
    
    .schedule2 a p{
    
    font-weight: 600;
    
    color: white;
    }
    
    .schedule2 a{
    
        
    }
    
    
    /* ---------------------- */
    
    
    /* Pacakge section */
    
    .package{
    
    margin-bottom: 100px;
    
    position: relative;
    
    min-height: 1000px;
    }
    
    .pricing{
    
    
    
    }
    
    .packagewrap{
    
    display: flex;
    
    justify-content: center;
    
    position: absolute;
    
    left: 50%;
    
    transform: translateX(-50%);
    
    top: -98px;
    }
    
    .packcol{
    
    margin: 0 9px;
    }
    
    
    .essentials{
    
    border-radius: 2px;
    
    border: 1px solid #d1d1d1;
    }
    
    .title{
    
    background: #08dd83;
    
    padding: 5px;
    }
    
    .title h4{
    
    font-size: 20px;
    
    text-align: center;
    
    color: white;
    }
    
    .body{
    
    text-align: center;
    
    background: white;
    }
    
    .firt_part{
    }
    
    .firt_part p{
    
    padding: 10px 0;
    
    color: gray;
    }
    
    .firt_part h2{
    
    font-size: 45px;
    
    font-weight: bold;
    
    padding: 0;
    
    display: flex;
    
    justify-content: center;
    
    margin-top: 1px;
    
    color: #023f7d;
    }
    
    .firt_part h2 sup{
    
    font-size: 25px;
    
    top: 0;
    
    margin-top: 13px;
    }
    
    
    .firt_part h2 p{
    
    font-size: 16px;
    
    margin-top: 25px;
    
    padding: 0;
    
    color: #023f7d;
    
    font-weight: 700;
    }
    
    .features{
    
    margin: 10px 0;
    }
    
    .feature_on{
    
    display: flex;
    
    align-items: center;
    
    justify-content: center;
    }
    
    .feature_on i{
    
    color: green;
    
    font-size: 13px;
    
    margin-top: 4px;
    }
    
    .feature_on p{
    
    margin-left: 10px;
    
    font-weight: bold;
    }
    
    .feature_off{
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    }
    
    .feature_off i{
    
    font-size: 13px;
    
    color: gray;
    }
    
    .feature_off p{
    
    font-weight: bold;
    
    margin-left: 10px;
    
    color: gray;
    }
    
    .moreinfo{
    
    margin-bottom: 15px;
    }
    
    .moreinfo a{
    
    color: #436491;
    
    font-weight: 600;
    }
    
    .ordernow1{
    
    width: 150px;
    
    margin: auto;
    
    margin-bottom: 25px;
    }
    
    .ordernow1 a{
    
    color: white;
    
    font-weight: bold;
    
    border: none;
    }
    
    .title2{
    
    background: #15b4c5;
    }
    
    .title3{
        background: #2092fc;
    }
    
    .textcontentrow{
    }
    
    .neque_porro{
    
    
    }
    
    .neque_title{
    
    margin-bottom: 20px;
    }
    
    .neque_title h2{
    
    font-size: 40px;
    }
    
    .neque_body{
    
    
    }
    
    .lines{
    
    display: flex;
    
    margin-bottom: 10px;
    }
    
    .lines i{
    
    margin-top: 8px;
    
    color: green;
    }
    
    .lines p{
    
    padding-left: 10px;
    }
    
    .learnmore{
    
    width: 140px;
    
    margin-top: 20px;
    }
    
    .learnmore a{
    
    font-weight: bold;
    
    color: white;
    }
    
    .neque_poro_photo{
    
    
    }
    
    .nequephoto{
    
    margin-top: 19px;
    
    margin-left: 15px;
    }
    
    .nequephoto img{
    
    width: 100%;
    }
    
    .textcontent_wrap{
    
    position: absolute;
    
    display: flex;
    
    top: 40%;
    
    justify-content: center;
    
    left: 10%;
    
    transform: translateX(-10%);
    }
    
    /* review section */
    
    .review{
    
    border-top: 2px solid #a0a0a0;
    }
    
    .review_row{
    
    margin-top: 50px;
    
    margin-bottom: 50px;
    
    justify-content: center;
    }
    
    .review_col{
    
    margin-right: 50px;
    }
    
    .review_item{
    
    display: flex;
    }
    
    .bio{
    
    
    }
    
    .bio_photo{width: 100px;}
    
    .bio_photo img{
    
    width: 100%;
    }
    
    .bio p{
    
    color: #a0a0a0;
    }
    
    .bio h5{
    
    font-weight: 700;
    }
    
    .review_text{
    
    margin-left: 20px;
    }
    
    .review_text p{
    
        
    }
    
    /* -------------- */
    
    /* blue-bg section */
    
    .blue_bg{
    
    position: relative;
    
    min-height: 500px;
    
    margin-top: 50px;
    
    width: 100%;
    
    background: #003061;
    }
    
    .blue_bg_wrap{
    
    position: absolute;
    
    display: flex;
    
    top: 10%;
    
    justify-content: center;
    
    left: 10%;
    
    transform: translateX(-10%);
    
    
    }
    
    .neque_title2 h2{
    
    color: white;
    }
    
    .lines2 p{
    
    color: white;
    }
    
    .nequephoto2{
    
    margin: 0;
    
    margin-top: 12px;
    }
    
    .neque_poro_photo2{
    
        margin-right: 20px;
    }
    
    /* ------------------- */
    
    /* contact section */
    
    .contact{
    
        position: relative;
        min-height: 700px;
    
    
    }
    
    .maps-row{
    
    
    }
    
    .form-col{
    
    
    }
    
    .form_wrap{
    
        margin-top: 50px;
    }
    
    .form_wrap p{
    
    
    }
    
    .form_wrap h3{
    
    
    }
    
    .form{
    
    
    }
    
    .name{
    
    margin: 3px 0;
    
    width: 50%;
    
    padding-left: 5px;
    }
    
    .Company{
    
    width: 49%;
    
    margin: 5px 0;
    
    padding-left: 5px;
    }
    
    .number{
    
    width: 49%;
    
    margin: 5px 0;
    
    padding-left: 5px;
    }
    
    .Message{
    
    width: 100%;
    
    margin: 5px 0;
    
    padding-left: 5px;
    
    height: 150px;
    }
    
    .submit{
    
    width: 100px;
    }
    
    .submit a{
    
        color: white;
        font-weight: 500;
    }
    
    .emails{
    
        width: 50%;
    
        margin: 5px 0;
        
        padding-left: 5px;
    
    }
    
    .map-col{
    
    
    }
    
    .mapwrap{
    
        position: absolute;
        right: 0;
        width: 600px;
    
    
    }
    
    .mapwrap iframe{
    
    
    }

}

.mapwrap{

    position: absolute;
    right: 0;
    width: 600px;


}

.mapwrap iframe{


}

.newsletterrow{

margin-top: 120px;
}

.newscol{


}

.news_tittle{

text-align: center;

margin-bottom: 40px;
}

.news_tittle h2{


}

.signup_sec{

text-align: center;
}

.signup{width: 150px;display: inline-flex;margin-left: 10px;border-radius: 2px;}

.signup a{

color: white;

font-weight: 500;
}

.fullname{

padding-left: 5px;

padding: 2px 0;

padding-left: 5px;

border-radius: 2px;

border: 1px solid gray;
}

.email3{

padding: 2px 0;

padding-left: 5px;

margin-left: 10px;

border-radius: 2px;

border: 1px solid gray;
}

/* -------------- */

/* footer section */

footer{

    margin: 30px 0;
}

.footer_menu{


}

.footer_item{


}

.footer_item a{

    color: black;
    font-weight: 700;

}

.schedule3{

background: transparent;

border: 2px solid;
}

.schedule3 p{

    
}

.copyright{


    margin: 10px 0;
}

.copyright p{

font-weight: 600;

text-align: end;
}

/* ------------- */

/* owl-caroursel css */

.owl-dots{

text-align: center;

margin: 30px 0;
}

.owl-dot{


}

.owl-dot.active{


}

.owl-dot span{

width: 8px;

height: 8px;

display: block;

background: #0ad68e;

border-radius: 50%;

margin: 0 3px;
}

.owl-dot.active span{

width: 10px;

height: 10px;

display: block;

background: #1e9af1;

border-radius: 50%;
}

